<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <h1>Chat Conversation</h1>
<%for(let post of posts){%>
    <div>
        <h4 class="user"><%=post.username %></h4>
        <p class="content"><%=post.content %></p>
        <button><a href="http://localhost:5204/posts/<%= post.id%>">view post in detail</a>
        <button><a href="http://localhost:5204/posts/<%= post.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>DELETE</button>
            </form>

    </div>
<%}%><br>
<button><a href="http://localhost:5204/posts/new">create new posts</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
</body>
</html>